# Files
/images/
/templates/_custom*
/templates/<*

# Dependencies
.venv/
setup.py
*.egg-info

# Cache
__pycache__/
.cache/

# Development
.idea/

# Testing
.coverage
/htmlcov/
/results/

# Server
.env
.envrc

# Site
/site/
