.envrc

/images/
/templates-legacy/

###############################################################################
# Backend

# dependencies
.venv/
setup.py
*.egg-info

# cache
__pycache__/
.cache/

# testing
.pytest_cache/
.coverage

###############################################################################
# Frontend

# dependencies
/frontend/node_modules

# testing
/frontend/coverage
/frontend/cypress/screenshots/
/frontend/cypress/videos/

# production
/frontend/build
