[MESSAGES CONTROL]

disable=locally-disabled,fixme,too-few-public-methods,too-many-public-methods,invalid-name,global-statement,too-many-ancestors,missing-docstring,too-many-locals,too-many-arguments,too-many-instance-attributes,no-member,no-else-return,too-many-nested-blocks

[FORMAT]

max-line-length=80

ignore-long-lines=^.*((https?:)|(pragma:)|(TODO:)).*$

[SIMILARITIES]

min-similarity-lines=4

ignore-imports=yes

[REPORTS]

reports=no

score=no

msg-template={msg_id} ({symbol}):{line:3d},{column}: {msg}
