language: python
python:
- 3.5

cache:
  pip: true
  directories:
  - env

env:
  global:
  - RANDOM_SEED=12345
  - REGENERATE_IMAGES=true
  - VALIDATE_LINKS=true

install:
- pip install coveralls scrutinizer-ocular

before_script:
- make env
- make depends

script:
- make check
- make test
- make validate

after_success:
- coveralls
- ocular

notifications:
  email:
    on_success: never
    on_failure: change
