.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
@media (min-width: 768px) {
  .masthead {
  }
  .site-wrapper-inner {
  }
  .masthead,
  .mastfoot,
  .container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .container {
    width: 1050px;
  }
}

.opener {
    padding: 60px 15px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.opener>h2 {
  font-size: 42px;
}

.opener>p {
  font-size: 18px;
}


.meme-generator {
  margin-top: 33px;
}
.meme {
  height: 50px;
  line-height: 50px;
  text-align: left;
  text-shadow: none;
  color: #555;
}
.meme img {
  margin-right: 8px;
}
.meme-text {
  vertical-align: top;
}
.meme-templates {
  margin-top: 60px;
}

.meme-holder {
  text-align: center;
}
