[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6"

[packages]

# Flask
Flask = "~=0.12.2"
Flask-API = "~=1.0"
Flask-CORS = "~=3.0.3"
Flask-Caching = "*"
Flask-Cachecontrol = "==0.1.2"
Flask-Script = "~=2.0.5"

# Utilities
background = "*"
markdown = "*"
minilog = "*"
pillow = "~=4.1.1"
profanityfilter = "~=1.1.2"
pymdown-extensions = "*"
requests = "~=2.18.1"
webargs = "~=1.7.0"
yorm = "~=1.5"

# Deployment
blinker = "~=1.4"
bugsnag = "~=3.1.1"
eventlet = "==0.21.0"
gunicorn = "~=19.7.1"

[dev-packages]

# Linters
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~=3.5.1"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-cov = "*"
coveragespace = "*"

# Tooling
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
