[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6"

[packages]

flask = "~=0.12.2"
flask-api = "~=1.0"
flask-cors = "~=3.0.3"
flask-caching = "*"
flask-cachecontrol = "==0.1.2"
flask-script = "~=2.0.5"

requests = "~=2.18.1"
webargs = "~=1.7.0"
background = "*"
yorm = "~=1.5"
pillow = "~=4.1.1"
profanityfilter = "~=1.1.2"
markdown = "*"
pymdown-extensions = "*"
minilog = ">=0.2"

gunicorn = "~=19.7.1"
eventlet = "==0.21.0"

bugsnag = "~=3.1.1"
blinker = "~=1.4"

[dev-packages]

pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

pytest = "~=3.3"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-cov = "*"

coverage-space = "*"

sniffer = "*"
pync = {version = "*", sys_platform = "== 'darwin'"}
MacFSEvents = {version = "*", sys_platform = "== 'darwin'"}
