[tool.poetry]

name = "memegen"
version = "10.12"
description = "The free and open source API to generate memes."
authors = ["Jace Browning <support@maketested.com>"]
license = "MIT"

packages = [{ include = "app" }]

[tool.poetry.dependencies]

python = "^3.10"

# Sanic
sanic = "~22.9.1"  # remove -W in pytest: https://github.com/sanic-org/sanic/issues/2388
sanic-ext = "~22.9" # match to 'sanic'

# Markdown
markdown = "~3.2.2"
pymdown-extensions = "^8.0"
pygments = "^2.7.0"

# Images
pillow = "^9.2"  # update 'types-pillow' to match version
spongemock = "~0.3.4"

# Utilities
aiocache = "~0.11.1"
aiohttp = "^3.8.1"
aiopath = "~0.6.10"
datafiles = "^2.0"
furl = "^2.1.3"

# Production
bugsnag = "^4.2"
gunicorn = "^20.1"
uvicorn = "~0.17.5"

[tool.poetry.dev-dependencies]

# Formatting
isort = "^5.10"
black = "^22.1"

# Type Checking
mypy = "~0.931"
autoflake = "^1.3.1"
types-aiofiles = "*"
types-pillow = "^9.2"
types-requests = "*"
types-setuptools = "*"

# Testing
pytest = "^7.1.3"
pytest-asyncio = "*"
pytest-describe = "^2.0"
pytest-expecter = "^3.0"
pytest-random = "*"
pytest-cov = "^2.7"
sanic-testing = "*"
aioresponses = "*"
locust = "^2.8.3"

# Coverage
coveragespace = "^6.0"

# Documentation
mkdocs = "^1.2.3"

# Utilities
honcho = { git = "https://github.com/jacebrowning/honcho", branch = "support-importlib" }
ipdb = "*"
rope = "^0.18.0"
watchdog = { version = "^2.1.9", extras = ["watchmedo"] }

[tool.black]

quiet = true

[tool.isort]

profile = "black"

[tool.mypy]

ignore_missing_imports = true
no_implicit_optional = true
check_untyped_defs = true

plugins = "datafiles.plugins:mypy"

cache_dir = ".cache/mypy/"

[tool.pytest.ini_options]

testpaths = "app"

addopts = """
--no-header \
--random \
--show-capture=log \
--cov=app --cov-report=term-missing:skip-covered --cov-report=html:.cache/htmlcov --no-cov-on-fail

-W ignore::DeprecationWarning:sanic.server.loop
"""

cache_dir = ".cache/pytest/"

markers = "slow"

asyncio_mode = "strict"

[build-system]

requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
