aiofiles==0.4.0
aiohttp==3.6.2
asgiref==3.2.5
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.3.1
automat==20.2.0
cached-property==1.5.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
classproperties==0.1.3
constantly==15.1.0
cryptography==2.8
daphne==2.4.1
datafiles==0.7
h11==0.8.1
h2==3.2.0
hpack==3.0.0
hstspreload==2020.3.12
httptools==0.1.1
httpx==0.9.3
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
minilog==1.4
multidict==4.7.5
parse==1.15.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyhamcrest==2.0.2
pyopenssl==19.1.0
pyyaml==5.3
requests==2.23.0
rfc3986==1.3.2
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0; platform_python_implementation == "CPython" and python_version < "3.9"
sanic==19.12.2
sanic-openapi==0.6.0
service-identity==18.1.0
six==1.14.0
sniffio==1.1.0
tomlkit==0.5.11
twisted==19.10.0
txaio==20.1.1
typing-extensions==3.7.4.1
ujson==2.0.2; sys_platform != "win32" and implementation_name == "cpython"
urllib3==1.25.8
uvloop==0.14.0; sys_platform != "win32" and implementation_name == "cpython"
websockets==8.1
yarl==1.4.2
zope.interface==4.7.2
