aiocache==0.11.1
aiofile==3.5.0; python_version >= "3.7" and python_version < "4"
aiofiles==0.6.0; python_version >= "3.7"
aiohttp==3.7.4.post0; python_version >= "3.6"
aiopath==0.4.10; python_version >= "3.7"
asgiref==3.3.4; python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
bugsnag==4.0.3; python_version >= "3.5" and python_version < "4"
cached-property==1.5.2; python_version >= "3.7" and python_version < "4.0"
caio==0.8.0; python_version >= "3.7" and python_version < "4"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
classproperties==0.2.0; python_version >= "3.7" and python_version < "4.0"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
datafiles==0.15; python_version >= "3.7" and python_version < "4.0"
furl==2.1.2
gunicorn==20.1.0; python_version >= "3.5"
h11==0.9.0
httptools==0.2.0; python_version >= "3.7"
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
markdown==3.2.2; python_version >= "3.5"
minilog==2.0.1; python_version >= "3.6" and python_version < "4.0"
multidict==5.1.0; python_version >= "3.7"
orderedmultidict==1.0.1
parse==1.19.0; python_version >= "3.7" and python_version < "4.0"
pillow==8.3.1; python_version >= "3.6"
pygments==2.9.0; python_version >= "3.5"
pymdown-extensions==8.1.1; python_version >= "3.6"
pyperclip==1.8.2
pyyaml==5.4.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
ruamel.yaml.clib==0.2.2; platform_python_implementation == "CPython" and python_version < "3.10" and python_version >= "3.7"
ruamel.yaml==0.17.4; python_version >= "3.7" and python_version < "4.0"
sanic-cors==0.10.0.post3
sanic-openapi==21.3.2
sanic-plugins-framework==0.9.4.post1
sanic-routing==0.7.1; python_version >= "3.7"
sanic==21.6.1; python_version >= "3.7"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
spongemock==0.3.4
tomlkit==0.7.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
typing-extensions==3.10.0.0; python_version >= "3.7" and python_version < "4.0"
ujson==4.0.2; sys_platform != "win32" and implementation_name == "cpython" and python_version >= "3.7"
uvicorn==0.14.0
uvloop==0.14.0; sys_platform != "win32" and implementation_name == "cpython" and python_version >= "3.7"
webob==1.8.7; python_version >= "3.5" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.5" and python_version < "4" and python_full_version >= "3.3.0"
websockets==9.1; python_full_version >= "3.6.1" and python_version >= "3.7"
yarl==1.6.3; python_version >= "3.6"
