a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
}

.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:active:hover {
  background-color: #555;
  border-width: 0;
}


/*********************************************/
/* masthead */
.masthead {
  background-color: #333;
  color: #fff;
  height: 350px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.masthead .tagline {
  margin: 50px 0;
  text-align: center;
}

.tagline h2 {
  font-size: 42px;
}

.tagline p {
  font-size: 18px;
}

.generator {
  padding: 40px;
  color: #555;
}

.generator h1 {
  text-align: center;
  margin: 40px 0 40px 0;
}

.select2-dropdown.select2-dropdown--below{
  width: 320px !important;
}

.select2-container {
  display: inline;
}

.select2-container--default .select2-selection--single{
  padding: 6px;
  height: 60px;
  width: 100%;
  font-size: 1.2em;
  position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  color: #000;
  font-size: 1.3em;
  padding: 4px 12px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
}

span.meme-text {
  color: #555;
}

.meme-generator {
  padding: 0 30px;
}

.meme-holder {
  text-align: center;
  color: #555;
}
.meme-holder img {
  max-width: 300px;
  margin-right: 8px;
}

a,
a:hover {
  color: #555;
  text-decoration: underline;
}

.meme-holder {
  margin-top: 40px;
}

.meme-templates {
  text-align: center;
  color: #555;
}

.meme-example {
  margin: 20px;
}

.footer {
  min-height: 50px;
  margin-top: 75px;
  padding: 0 20px;
  background-color: #555;
}

.footer-nav {
  float: none;
}

@media (min-width: 992px) {
  .meme-holder {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .masthead {

  }
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .masthead .tagline {
    margin: 100px 0;
  }
}

@media (min-width: 768px) {
  .masthead .container
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
