{% extends "base.html" %}

<!-- Head -->

{% block extrahead %}
<style>
    table,
    th,
    td {
        border: 1px solid #555;
        background: white;
    }

    th,
    tr,
    td {
        border-top: 1px solid #555 !important;
        border-bottom: 1px solid #555 !important;
    }

    code {
        padding: 2px 4px;
        font-size: 90%;
        color: #e83e8c;
        background-color: #f9f2f4;
        border-radius: 4px;
    }
</style>
{% endblock %}

<!-- Navigation -->

{% block repo %} {{ super() }}

<li class="nav-item mr-2">
    <a href="https://api.memegen.link/docs/" class="nav-link">
        <i class="fa fa-book"></i>
        Swagger
    </a>
</li>

<form class="form-inline my-2 my-lg-0">
    <a href="https://memecomplete.com" class="btn btn-sm btn-secondary">
        <i class="fa fa-search"></i>
        Meme Complete
    </a>
</form>

{% endblock %}

<!-- Content -->

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-11 col-lg-8 col-xl-7" role="main">
        {% include "content.html" %}
    </div>
</div>
{% endblock %}

<!-- Footer -->

{% block footer %} {% endblock %}
