<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemeGen.link</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/stylesheet.css"
  </head>
  <body>

    <div class="masthead">
      <div class="container">
        <div class="topbar clearfix">
          <h3 class="masthead-brand">MemeGen.link</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/latest">Latest</a></li>
            </ul>
          </nav>
        </div>

        <div class="tagline">
          <h2>The open source meme generator.</h2>
          <p>
            Create memes on demand!
          </p>
        </div>
      </div>
      </div>
    </div>

    <div class="generator">
      <div class="container">
        <h1>Try it!</h1>
        <div class="row">
          <div class="col-md-6 meme-generator">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="top" class="col-sm-2 control-label">Meme</label>
                <div class="col-sm-10">
                  <select class="js-meme-selector" name="meme">
                    {% for img in imgs %}
                      <option value="{{ img.key }}" data-url="{{ img.url }}" data-link="{{ img.link }}" data-top="{{ img.top }}">
                        {{ img.name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="top" class="col-sm-2 control-label">Top Text</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="meme-text-top" name="top" value="I don't know what this meme is for"/>
                </div>
              </div>

              <div class="form-group">
                <label for="bottom" class="col-sm-2 control-label">Bottom Text</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="meme-text-bottom" name="bottom" value="and at this point I'm too afraid to ask"/>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" id="btn-generate" class="btn btn-primary">Generate</button>
                </div>
              </div>
            </form>
          </div>

          <div class="meme-holder col-md-6">
            <a id="meme-image" href="">
              <img width='400' src="" />
            </a>
            <div class="meme-link-holder">
              <a id="meme-link" href=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="meme-templates">
        <h1>Available Templates</h1>
        <div class="row">
        {% for img in imgs %}


          <div class="col-sm-4">
             <a href="{{img.url}}">
               <img width="240" src="{{ img.url }}" />
             </a>
             <div>
               <a href="{{img.link}}">{{img.link}}</a>
             </div>
           </div>

         {% if loop.index is divisibleby 3 %}
         </div>
         {% endif %}

         {% if loop.index is divisibleby 3 %}
         <div class="row">
         {% endif %}

         {% if loop.last %}
          </div>
         {% endif %}
       {% endfor %}
     </div>


    <div class="footer">
      <nav>
        <ul class="nav masthead-nav footer-nav">
          <li><a href="/api">API</a></li>
          <li><a href="http://github.com/{{ github_slug }}">GitHub</a></li>
        </ul>
      </nav>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

    <script type="text/javascript">

      var memeBase = "http://memegen.link/";

      function escapeMemeText(str) {
          return str
            .replace(/-/g, '--')
            .replace(/_/g, '__')
            .replace(/\?/g, '~q')
            .replace(/%/g, '~p')
            .replace(/\s+/g, '-');
        }

      function formatMeme(meme) {
        if (!meme.element) { return meme.text; }
        var source = encodeURI($(meme.element).attr('data-url')).replace(/,/g, '%2C').replace(/'/g, '%27');
        var $meme = $(
          "<div class='meme'><img height='50' src='" + source + "' /><span class='meme-text'>" + meme.text + "</span></div>"
        );
        return $meme;
      };

      function generateMeme() {
        var memeId = $('.js-meme-selector').val();
        var memeTextTop = escapeMemeText($('#meme-text-top').val());
        var memeTextBottom = escapeMemeText($('#meme-text-bottom').val());
        if (memeId && memeTextTop && memeTextBottom) {
          var url = memeBase + memeId + '/' + memeTextTop + '/' + memeTextBottom;
          $("#meme-link").attr('href', url);
          $("#meme-link").text(url);
          $("#meme-image img").attr('src', encodeURI(url).replace(/,/g, '%2C').replace(/'/g, '%27') + '.jpg');
          $("#meme-image").attr('href', encodeURI(url).replace(/,/g, '%2C').replace(/'/g, '%27') + '.jpg');
        }
      }

      $('.js-meme-selector').select2({
        templateResult: formatMeme,
        templateSelection: formatMeme
      });

      $( ".js-meme-selector" ).on('change', function() {
        var link = $( ".js-meme-selector option:checked").data('link');
        if (link) {
          var pieces = link.split('/');
          $('#meme-text-top').val(pieces[1]);
          $('#meme-text-bottom').val(pieces[2])
        }
        generateMeme();
      });

      $("#btn-generate").on('click', function(e) {
        generateMeme();
      });

      $( ".js-meme-selector" ).val('afraid').trigger("change");
    </script>
  </body>
</html>
