<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>MemeGen.link</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">

    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="images/manifest.json">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">MemeGen.link</h1>
      <h2 class="project-tagline">The open source meme generator.</h2>
      <a href="/api" class="btn">Browse the API</a>
      <a href="https://github.com/jacebrowning/memegen" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">

<h1>
<a id="browsing-templates" class="anchor" href="#browsing-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Browsing Templates</h1>

<ul>
<li>View the examples: <a href="overview">/overview</a></li>
<li>Watch what others create: <a href="latest">/latest</a></li>
<li>Create your own: <a href="generator">/generator</a></li>
</ul>

<h1>
<a id="generating-images" class="anchor" href="#generating-images" aria-hidden="true"><span class="octicon octicon-link"></span></a>Generating Images</h1>

<p>MemeGen URLs contain all the information necessary to generate the image. For example, <a href="http://memegen.link/buzz/memes/memes-everywhere.jpg">http://memegen.link/buzz/memes/memes-everywhere.jpg</a> produces:</p>

<p><img src="http://memegen.link/buzz/memes/memes-everywhere.jpg" alt="buzz"></p>

<p>But, the site can also produce masked URLs to conceal the joke:</p>

<p><a href="http://memegen.link/_YnV6egltZW1lcy9tZW1lcy1ldmVyeXdoZXJl.jpg">http://memegen.link/_YnV6egltZW1lcy9tZW1lcy1ldmVyeXdoZXJl.jpg</a></p>

<p>For any MemeGen image, lose the extension to see a list of all format options:</p>

<p><a href="http://memegen.link/buzz/memes/memes-everywhere">http://memegen.link/buzz/memes/memes-everywhere</a></p>

<h2>
<a id="special-characters" class="anchor" href="#special-characters" aria-hidden="true"><span class="octicon octicon-link"></span></a>Special Characters</h2>

<p>In URLs, spaces can be inserted using dashes or underscores:</p>

<ul>
<li>dash (<code>-</code>) → space (<code> </code>)</li>
<li>underscore (<code>_</code>) → space (<code> </code>)</li>
<li>dashes (<code>--</code>) → dash (<code>-</code>)</li>
<li>underscores (<code>__</code>) → underscore (<code>_</code>)</li>
</ul>

<p>Reserved URL characters can be escaped:</p>

<ul>
<li>tilde + Q (<code>~q</code>) → question mark (<code>?</code>)</li>
<li>tilde + P (<code>~p</code>) → percentage (<code>%</code>)</li>
<li>2 single qutoes (<code>''</code>) → double quote (<code>"</code>)</li>
</ul>

<p>For example: <a href="http://memegen.link/doge/special-characters~q/underscore__-dash--.jpg">http://memegen.link/doge/special-characters~q/underscore__-dash--.jpg</a></p>

<h2>
<a id="alternate-styles" class="anchor" href="#alternate-styles" aria-hidden="true"><span class="octicon octicon-link"></span></a>Alternate Styles</h2>

<p>Some memes come in multiple forms, which can be selected via <code>?alt=&lt;style&gt;</code>:</p>

<p><img src="static/images/template.png" alt="template"></p>

<p>For example: <a href="http://memegen.link/sad-biden/sad-joe-biden/doesn't-think-you'll-vote.jpg?alt=scowl">http://memegen.link/sad-biden/sad-joe-biden/doesn't-think-you'll-vote.jpg?alt=scowl</a></p>

<h1>
<a id="adding-templates" class="anchor" href="#adding-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Adding Templates</h1>

<p>To add a new template, please follow the <a href="https://github.com/jacebrowning/memegen/blob/master/CONTRIBUTING.md">contributor instructions</a>.</p>

<p>Thanks go to <a href="https://github.com/danieldiekmeier/memegenerator">danieldiekmeier/memegenerator</a> for the inspiration!</p>

<h1>
<a id="slack-integration" class="anchor" href="#slack-integration" aria-hidden="true"><span class="octicon octicon-link"></span></a>Slack Integration</h1>

<p>Check out one of these options:</p>

<ul>
<li><a href="https://github.com/nicolewhite/slack-meme">nicolewhite/slack-meme</a></li>
<li><a href="https://github.com/CptSpaceToaster/slackbot">CptSpaceToaster/slackbot</a></li>
</ul>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/jacebrowning/memegen">MemeGen</a> is maintained by <a href="https://github.com/jacebrowning">jacebrowning</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("{{ ga_tid }}");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
