{% extends "layout.html" %}
{% set active_page = "latest" %}
{% block title %}{{ super() }} | latest{% endblock %}
{% block content %}
  <div class="meme-templates">
    <div class="row">
      {% for src in srcs %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <img class="meme-img" src="{{ src }}" id="latest{{ loop.index }}" />
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
    var reload = function(){
      console.log("Refreshing images");
      {% for src in srcs %}
        var elem{{ loop.index }} = document.getElementById('latest{{ loop.index }}');
        elem{{ loop.index }}.src = '{{ src }}&' + Math.random();
      {% endfor %}
    };
    setInterval(reload, {{ refresh * 1000 }});
  </script>
{% endblock %}
