{% extends "layout.html" %}

{% set active_page = "magic" %}

{% block title %}{{ super() }} | magic{% endblock %}

{% block content %}
    <div class="generator">
      <div class="container">
        <div class="row">

          <div class="col-md-6 meme-generator">
            <form class="form-horizontal" id="meme-form">

              <div class="form-group">
                <label for="top" class="col-sm-2 control-label">Text</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="meme-text" name="text"/>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="submit" class="btn btn-primary" id="btn-generate" value="Generate Image" />
                  <div class="pull-right">
                    <button type="button" class="btn btn-primary" id="btn-copy" data-toggle="tooltip" title="Copy link">
                      <span class="glyphicon glyphicon-copy"></span>
                      &nbsp;
                      Copy Link
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-share" data-toggle="tooltip" title="View sharing options">
                      <span class="glyphicon glyphicon-share"></span>
                      &nbsp;
                      Share...
                    </button>
                  </div>
                </div>
              </div>

            </form>
          </div>

          <div class="meme-holder col-md-6">
            <a id="meme-image" href="">
              <img width='400'/>
            </a>
          </div>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>

    <script>
      function getShareLink() {
        return "{{ request.url_root }}" + $("#meme-image").attr('href') + "?share=true";
      }

      $("#meme-form").submit(false);

      $("#btn-generate").on('click', function(e) {
        var memeText = $('#meme-text').val();
        var imageUrl = encodeURIComponent("api/magic/" + memeText + ".jpg");

        $("#meme-image img").attr('src', imageUrl);
        $("#meme-image").attr('href', imageUrl);
      });

      $('#meme-text').val("try all the phrases");
      $('#btn-generate').click();

      var clipboard = new Clipboard('#btn-copy', {
        text: function(trigger) {
          return getShareLink();
        }
      });
      clipboard.on('success', function(event) {
        $(event.trigger).attr('title', 'Link Copied').tooltip('fixTitle').tooltip('show');
      });
      clipboard.on('error', function(event) {
        console.log(event);
      });

      $('#btn-share').on('click', function(event) {
        var url = getShareLink();
        var win = window.open(url, '_blank');
        if (win) {
            win.focus();
        } else {
            window.location.href = url;
        }
      });
    </script>
{% endblock %}
