{% extends "layout.html" %}
{% set active_page = "magic" %}
{% block title %} | Magic{% endblock %}
{% block content %}
    <div class="generator">
      <div class="container">
        <div class="row">

          <div class="col-md-6 meme-generator">
            <form class="form-horizontal" id="meme-form">

              <div class="form-group">
                <label for="top" class="col-sm-2 control-label">Text</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="meme-text" name="text"/>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="submit" class="btn btn-primary" id="btn-generate" value="Generate">
                </div>
              </div>

            </form>
          </div>

          <div class="meme-holder col-md-6">
            <a id="meme-image" href="">
              <img width='400' src="" />
            </a>
          </div>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>
      $("#meme-form").submit(false);

      $("#btn-generate").on('click', function(e) {
        var memeText = $('#meme-text').val();
        var imageUrl = encodeURIComponent("api/magic/" + memeText + ".jpg");

        $("#meme-image img").attr('src', imageUrl);
        $("#meme-image").attr('href', imageUrl);
      });

      $('#meme-text').val("try all the phrases");
      $('#btn-generate').click();
    </script>
{% endblock %}
