{% extends "layout.html" %}
{% block title %}{{ title | safe }}{% endblock %}
{% block meta %}
{{- super() }}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@memegenlink" />
    <meta name="twitter:title" content="memegen.link" />
    <meta name="twitter:description" content="{{ title | safe }}" />
    <meta name="twitter:image" content="{{ img_twitter | safe }}" />
    <meta property="fb:app_id" content="{{ config['FACEBOOK_APP_ID'] }}" />
    <meta property="og:title" content="memegen.link" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url | safe }}" />
    <meta property="og:image" content="{{ img_facebook | safe }}" />
    <meta property="og:image:width" content="{{ config['FACEBOOK_IMAGE_WIDTH'] }}" />
    <meta property="og:image:height" content="{{ config['FACEBOOK_IMAGE_HEIGHT'] }}" />
    <meta property="og:description" content="{{ title | safe }}" />

{%- endblock -%}

{% block content %}
    <div class="container">
      <div class="col-xs-12">
        <div class="row">
          <br>
          <img class="center-block img-responsive" src="{{ img | safe }}" />
        </div>
        <br>
        <div class="row text-center">
          <button type="button" class="btn btn-primary" id="btn-copy" data-toggle="tooltip" title="Copy link">
            Copy Share Link
          </button>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>

    <script>
      var clipboard = new Clipboard('#btn-copy', {
        text: function(trigger) {
          return "{{ url | safe }}";
        }
      });
      clipboard.on('success', function(event) {
        $(event.trigger).attr('title', 'Link Copied').tooltip('fixTitle').tooltip('show');
      });
      clipboard.on('error', function(event) {
        console.log(event);
      });
    </script>
{% endblock %}
