{% extends "layout.html" %}
{% block title %}{{ title | safe }}{% endblock %}
{% block meta %}
{{- super() }}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@memegenlink" />
    <meta name="twitter:title" content="memegen.link" />
    <meta name="twitter:description" content="{{ title | safe }}" />
    <meta name="twitter:image" content="{{ src_twitter | safe }}" />
    <meta property="fb:app_id" content="{{ config['FACEBOOK_APP_ID'] }}" />
    <meta property="og:title" content="memegen.link" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ href | safe }}" />
    <meta property="og:image" content="{{ src_facebook | safe }}" />
    <meta property="og:image:width" content="{{ config['FACEBOOK_IMAGE_WIDTH'] }}" />
    <meta property="og:image:height" content="{{ config['FACEBOOK_IMAGE_HEIGHT'] }}" />
    <meta property="og:description" content="{{ title | safe }}" />

{%- endblock -%}

{% block content %}
    <div class="container">
      <div class="col-xs-12">
        <div class="row">
          <br>
          <img src="{{ src | safe }}" class="center-block" />
        </div>
        <br>
        <div class="row text-center">
          <button type="button" class="btn btn-primary" id="btn-copy" data-toggle="tooltip" title="Copy link">
            Copy Share Link
          </button>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script>
      var clipboard = new Clipboard('#btn-copy', {
        text: function(trigger) {
          return "{{ request.url }}";
        }
      });
    </script>
{% endblock %}
