<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Memegen API{% endblock %}</title>

        <!-- Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-91304960-4"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag() {
                dataLayer.push(arguments)
            }
            gtag("js", new Date())
            gtag("config", "UA-91304960-4")
        </script>

        <!-- Boostrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />

        <!-- Custom Style -->
        <style>
            code {
                background-color: #f9f2f4;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
